
<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, nesciunt aliquam! Quidem, et animi hic deserunt eaque corporis numquam a harum aut ea adipisci amet, voluptas distinctio quaerat laudantium ut.</p>
<%- include('footer'); -%>